* {
    text-decoration: none;
    color: black;
    background-color: rgb(252, 235, 213);
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
img {
    width: 600px;
}
body {
    font-family: 'Inter', sans-serif;
}
a:hover{
    color: rgb(255, 71, 86);
}
h1 {
    font-size: 3em;
    border-bottom: 2px solid black;
    width: 50%;
    margin: 0 auto;
}
ul {
    font-size: 2em;
    list-style: none;
    margin-top: 1.5em;
}
h2, h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.external-link {
    text-decoration: underline;
    color:rgb(46, 65, 236)
}