


/* MAIN PAGE MOVIE CARD START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body{
    background-color: white;
    font-family: 'montserrat',sans-serif;
    font-size: 1rem;
    color: #444444;
}
h1 {
    color: white;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FB8500;
}
header h1 {
    color: #FFF;
    border-bottom: 2px solid #FFF;
    padding-bottom: .25em;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}
header a {
    color: #FFF;
    text-decoration: none;
}
header a:hover {
    color: #023047;
}
header ul{
 list-style: none;
 text-align: center;;
}

.active h3{
    color:#444444;
    text-decoration: underline;
}

@media only screen and (min-width: 700px) {
    header ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .header-top-link h3 {
        margin-right: 1em;
    }
    header {
        padding-bottom: 0;
    }
}
header h4 {
    margin-bottom: .5em;
    color: #FFF
}
.header-top-link {
    margin-bottom: .5em;
    margin-top: 0;
}
.header-bottom-link {
    padding-bottom: 1em;
}

.post-wrap {
    min-width: 330px;
    max-width: 330px;
    height: 600px;
    perspective: 1000px;
    flex: 1;
    margin: 0 15px 85px;
}
.post {
    position: relative; /* Required to absolutely position the faces */
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.post-front, .post-back {
    position: absolute;
    width: 100%;
    height: 590px;
    color: white;
    background-color: #413e3e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.post-back {
    transform: rotateY(180deg);
}
.post-wrap:hover .post {
    transform: rotateY(180deg);
}
.post-img {
    background-size: cover;
    background-position: center;
    height: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-info {
    padding: 20px 30px 30px;
    position: relative;
    top: -69px;

}
.post-info span {
    font-size: 0.8rem;
    top: -500px;
    left: 215px;
}
.post-info h2{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
    text-align: center;
}
.post-back {
    background-color: #413e3e;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* To push the read more button to bottom */
    align-items: flex-start; /* To position the read more button at the left */
}
.post-back h2{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
}
.post-back p {
    margin-top: 10px;
    line-height: 1.6;
}
.post-back a{
    text-decoration: none;
    color: white;
    background-color: #FB8500;
    padding: 10px 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1em;
    font-weight: bold; 
    border-radius: 5px;
    cursor: pointer
}
.post-except .movie-title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: .5em;

}
.post-except .synopsis { 
    text-align: left;
    margin-bottom: 3em;
    max-height: 312px;
    overflow: hidden;
}
.post-except .button {
    position: relative;
    border: none;
    z-index: 1000;
}
.rating {
    margin-left: 1px;
    border: 4px solid #413e3e;
    background-color: #219EBC;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    position: relative;
    top: -475px;
    left: 230px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    font-size: 2em;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-wrap: wrap; /* Required to position the posts one below the other on smaller devices */
    margin-bottom: 2em;
}
.page-title {
    text-align: center;
    margin-top: 1.5em;
}

/* MAIN PAGE MOVIE CARD END */

/* STANDALONE PAGE START */

.standalone-container, .standalone-container-tv {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 2em;
}

.standalone-container h1, .standalone-container-tv h1 {
    color: black;
}

.rating-date-div {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.standalone-rating {
    margin-right: 1em;
    display: flex;
    justify-content: center;
}
.standalone-release {
    margin-left: 1em;
    display: flex;
    justify-content: center;
}

.backdrop-path img {
    width: 1200px;
    height: 325px;
    object-fit: cover;
}
@media only screen and (min-width: 700px) {
    .backdrop-path img {
        height: 500px;
    } 
}
.genres {
    text-align: center;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.networks {
    text-align: center;

}
.network-logo{
    width: 80px;
    margin-left: 1em;
}
.network-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
.info-div{
    margin-left: 1em;
    margin-right: 1em;
}
.homepage a{
    text-decoration: none;
    background-color: #219EBC;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.homepage {
    margin-top: 2em;
    justify-content: center;
    display: flex;
    margin-bottom: 2em;
}

/* STANDALONE PAGE END */

/* INDEX START */
.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.buttons span{
    font-size: 3em;
}
.movie-button {
    width: 150px;
    height: 150px;
}
.tv-button {
    width: 150px;
    height: 150px;
}
/* INDEX END */